<html>
  <head>
    <title>Movie App</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="stylesheets/design.css" />
  </head>
  <body>
    <h1 id="resulth1">
      Résultats de la recherche :
      <span style="color: rgb(4, 4, 116)"><%= searchQuery %></span>
    </h1>

    <% data["results"].forEach((movie)=>{ %>
    <div class="card mb-5 w-75">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2<%=movie['poster_path'] %>"
            clas="card-img img-fluid"
            alt="image-film"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title"><%= movie["title"] %></h2>
            <hr />
            <p class="card-text"><%= movie["overview"] %></p>
            <br />
            <hr />
            <p class="card-text">
              <b>Date de publication : </b> <%= movie["release_date"] %>
            </p>
            <p class="card-text">
              <b>Nombre de votes: </b> <%= movie["vote_count"] %>
            </p>
            <p class="card-text"><b>Note : </b> <%= movie["vote_average"] %></p>
          </div>
        </div>
      </div>
    </div>

    <% }) %>
  </body>
</html>
